include AUTHORS
include INSTALL
include COPYING
include LICENSE
include MANIFEST.in
include README.md
include Makefile
recursive-include kobo *.py *.conf *.json *.sql *.html *.css *.js *.png *.wsgi *.example *.template kobo-admin __*__
recursive-include scripts *.py *.sh
recursive-include tests *
