{% extends "layout.html" %}
{% load i18n %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="screen" />
{% endblock %}

{% block header_site_name %}
site/tool name
{% endblock %}

{% block header_login %}
{% endblock %}

{% block footer %}
email, copyright, ...
{% endblock %}
